{% include "pieces/header.html.twig" %}
<main id="main" class="home">
	<div class="slideshow">
		<ul class="slides">
			<li class="slide">
				<div class="wrapper">
					<div class="slide-details">
						<h2 class="slide-title">Feel good <br>Be beautiful</h2>
						<a href="">Click to view more</a>
						<span class="slide-counter"><span class="current">1</span>/3<span class="total"></span></span>
					</div>
					<div class="slide-img">
						<img src="{{niveau}}images/slide1.jpg" alt="Jeune fille qui sourie">
					</div>
				</div>
				
			</li>
			<li class="slide">
				<div class="wrapper">
					<div class="slide-details">
						<h2 class="slide-title">Smile to the life</h2>
						<a href="">Click to view more</a>
						<span class="slide-counter"><span class="current">2</span>/3<span class="total"></span></span>
					</div>
					<div class="slide-img">
						<img src="{{niveau}}images/slide2.jpg" alt="Jeune fille qui sourie">
					</div>
				</div>
				
			</li>
			<li class="slide">
				<div class="wrapper">
					<div class="slide-details">
						<h2 class="slide-title">Always feel young and free</h2>
						<a href="">Click to view more</a>
						<span class="slide-counter"><span class="current">3</span>/3<span class="total"></span></span>
					</div>
					<div class="slide-img">
						<img src="{{niveau}}images/slide3.jpg" alt="Pierre précieuse">
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="video">
		<iframe src="https://player.vimeo.com/video/110831599" 
				frameborder="0" 
				webkitallowfullscreen 
				mozallowfullscreen 
				allowfullscreen>
		</iframe>
	</div>
	<div class="overview">
		<div class="chapo">
			<h2>Overview</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
				Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.
			</p>
		</div>
		<div class="blocs">
			<div class="bloc position-left">
				<div class="wrapper">
					<p class="exergue paroller">
						glance
					</p>
					<div class="text">
						<h3>Getting your smile back</h3>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="bloc-img">
						<img src="{{niveau}}images/slide2.jpg" alt="Une jeune fille rousse qui sourie.">
					</div>		
				</div>		
			</div>
			<div class="bloc position-right">
				<div class="wrapper">
					<p class="exergue paroller">
						Quick
					</p>
					<div class="bloc-img">
						<img src="{{niveau}}images/skull.jpg" alt="Une tête de squellette faite de diamant.">
					</div>
					<div class="text">
						<h3>A non invasive technique</h3>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					</div>	
				</div>			
			</div>
			<div class="bloc position-left">
				<div class="wrapper">
					<div class="text">
						<h3>Custom made and unique</h3>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="bloc-img">
						<img src="{{niveau}}images/slide3.jpg" alt="Des diamants précieux mauves.">
					</div>
				</div>				
			</div>				
		</div>
		<div class="instagram_feed">
			<div class="wrapper">
				<p class="exergue left">Recent</p>
				<p class="exergue right">Instagram</p>
				<ul>
					{% for pic in instagram_array %}
					<li class="slide-in--element">
						<div class="img-wrapper">
							<a href="{{pic.link}}" target="_blank">
								<img src="{{pic.src}}" alt="{{pic.alt}}">
							</a>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</main>
{% include "pieces/footer.html.twig" %}