{% include "pieces/header.html.twig" %}
<main id="home" class="home">
	<div id="slideshows_wrapper">
		<div class="slideshow img" data-animation="slide">
			<ul class="slides">
				<li class="slide">
					<div class="wrapper">
						<div class="content">
							<img src="{{niveau}}images/slide1.jpg" alt="Jeune fille qui sourie">
						</div>
					</div>

				</li>
				<li class="slide">
					<div class="wrapper">
						<div class="content">
							<img src="{{niveau}}images/slide2.jpg" alt="Jeune fille qui sourie">
						</div>
					</div>

				</li>
				<li class="slide">
					<div class="wrapper">
						<div class="content">
							<img src="{{niveau}}images/slide3.jpg" alt="Pierre précieuse">
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="slideshow title" data-animation="fade">
			<ul class="slides">
				<li class="slide">
					<div class="wrapper">
						<div class="content">
							<h2 class="slide-title">Feel good <br>Be beautiful</h2>
							<a href="">Click to view more</a>
							<span class="slide-counter"><span class="current">1</span>/3<span class="total"></span></span>
						</div>
					</div>
				</li>
				<li class="slide">
					<div class="wrapper">
						<div class="content">
							<h2 class="slide-title">Shine through <br>your smile</h2>
							<a href="">Click to view more</a>
							<span class="slide-counter"><span class="current">2</span>/3<span class="total"></span></span>
						</div>
					</div>

				</li>
				<li class="slide">
					<div class="wrapper">
						<div class="content">
							<h2 class="slide-title">Ever so <br>Be beautiful</h2>
							<a href="">Click to view more</a>
							<span class="slide-counter"><span class="current">3</span>/3<span class="total"></span></span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!--<div class="video">
		<iframe src="https://player.vimeo.com/video/110831599" 
				frameborder="0" 
				webkitallowfullscreen 
				mozallowfullscreen 
				allowfullscreen>
		</iframe>
	</div>-->
	<div class="overview">
		<div class="chapo">
			<h2>Overview</h2>
			<p>
				Using the latest breakthrough in dental esthetics, Resplend aims to deliver no preparation prosthetics. No preparation means no tooth reduction. That’s right. We respect where you come from and want to help you through with our solution, but if ever you want to go back you can. It’s still guarantedd to last. Resplend intends to bring you through a true long lasting process.
				Made to fit each indivudual smile, following a rigorous process, each tooth perfectly adapts to your mouth in order to help you get the smile you always should’ve had.
			</p>
		</div>
		<div class="blocs">
			<div class="bloc position-left">
				<div class="wrapper">
					<p class="exergue paroller" data-parollerdirection="-1" data-parolleraxis="y" data-parollerspeed="0.2">
						glance
					</p>
					<div class="text">
						<h3>Getting your smile back</h3>
						<p>We believe that wether it’s been through an accident, or if you feel that your smile could look better, you deserve a chance to feel better with yourself. Don’t be shy, smile outloud!</p>
					</div>
					<div class="bloc-img">
						<img src="{{niveau}}images/bloc1.jpg" alt="Une jeune fille rousse qui sourie.">
					</div>		
				</div>		
			</div>
			<div class="bloc position-right">
				<div class="wrapper">
					<p class="exergue paroller" data-parollerdirection="1" data-parolleraxis="y" data-parollerspeed="0.2">
						Quick
					</p>
					<div class="bloc-img">
						<img src="{{niveau}}images/bloc2.jpg" alt="Une tête de squellette faite de diamant.">
					</div>
					<div class="text">
						<h3>A non invasive technique</h3>
						<p>our conviction is that even though you feel you could improve something about yourself you should be left free to go back. Our technique doesn’t imply any tooth preparation. Ever heard of going back from surgery? We guessed not.</p>
					</div>	
				</div>			
			</div>
			<div class="bloc position-left">
				<div class="wrapper">
					<div class="text">
						<h3>Custom made and unique</h3>
						<p>your face is unique, so is your smile. A true revelator of your own unique beauty, a smile can only be custom made. No shortcut here. This is why everything starts with, and our technique will take you where you want. Not the other way around.</p>
					</div>
					<div class="bloc-img">
						<img src="{{niveau}}images/bloc3.jpg" alt="Des diamants précieux mauves.">
					</div>
				</div>				
			</div>				
		</div>
		<div class="instagram_feed">
			<div class="wrapper">
				<p class="exergue paroller" data-parollerdirection="1"  data-parolleraxis="x" data-parollerspeed="0.2">Recent</p>
				<p class="exergue paroller" data-parollerdirection="-1" data-parolleraxis="x" data-parollerspeed="0.2">Instagram</p>
				<h3 class="mobile_title">Recent instagram</h3>
				<ul>
					{% for pic in instagram_array %}
					<li class="slide-in--element">
						<div class="img-wrapper">
							<a href="{{pic.link}}" target="_blank">
								<img src="{{pic.src}}" alt="{{pic.alt}}">
							</a>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</main>
{% include "pieces/footer.html.twig" %}